#h1_new {
  color: white;
  font-weight: bold;
  text-shadow: 5px;
}

#h2_new {
  color: white;
  font-size: 20px;
  text-shadow: 5px;
  width: 80%;
  padding-left: 20%;
}

#form-card-new {
  margin-bottom: 20px;
  opacity: 0.9;
  background-color: lightgrey;
  border-radius: 20px;
}

.string {
  font-size: 16px;
  font-weight: lighter;
}

.integer {
  font-size: 16px;
  font-weight: lighter;
}
