<div class="container-flex">
  <div class="plush-card">
    <div class="plush-group">
      <img src="assets/jason.png" alt="jason-voorhees"/>
      <div>
        <p>Do you want a big hug with our friends Jason?</p>
      </div>
    </div>
  </div>

  <div class="plush-card">
    <div class="plush-group">
      <img src="assets/mickael_mayers.png" alt="mickael_mayers"/>
      <div>
        <p>Mickael is so alone do you wanna be his friend?</p>
      </div>
    </div>
  </div>

  <div class="plush-card">
    <div class="plush-group">
      <img src="assets/freddy.png" alt="mickael_mayers"/>
      <div>
        <p>A magnificent burning plusher do you know who is-it?</p>
      </div>
    </div>
  </div>

  <div class="plush-card">
    <div class="plush-group">
      <img src="assets/it.png" alt="it"/>
      <div>
        <p>Do you want to play with it nice choice?</p>
      </div>
    </div>
  </div>
</div>
