<!-- TODO : Transform in simple form later -->
<div class="container-search">
  <form>
    <div class="display-inline-flex">
      <input type="text" placeholder="Search" class="margin-left-20"/>
      <button type="submit" class="margin-right-20"></button>
    </div>
  </form>
</div>

