.title-h1 {
  text-align: center;
}

.title-h2 {
  margin-bottom: 25px;
  padding-left: 30px;
}
.card-product {
  overflow: hidden;
  width: fit-content;
  height: 200px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  border-radius: 6px;
  margin: 30px;
  opacity: 0.9;
}

.card-product img {
  height: 100%;
  width: 180px;
  object-fit: cover;
}


.card-product .card-product-infos {
  padding: 16px;
}

ul {
list-style-type: none;
}

.card-pro {
  width: 500px;
}

.card-allbooking {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: contain;
  width: initial;
  min-height: 800px ;
  border-radius: 6px;
  display: flex;
  justify-content: space-around;
  align-content: stretch;
}
