
.form-container {
  max-width: 700px;
  margin: 5px auto;

  h2{
    text-align: center;
    padding: 10px 0;
  }
  fieldset{
    margin: 6px 0;
  }
  input.btn {
    padding: 0;
  }

  .border-form {
    border: 1px solid lightgray;
    border-radius: 25px;
    padding: 15px;
  }

  a {
    text-decoration: none;
    color: black;
  }

  input.btn:hover, a:hover {
    color: #167FFB;
  }

}


