.presentation-card {
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
  text-align: center;
  font-family: "Work Sans", "Helvetica", "sans-serif";
  line-height: 1.5;
  display: flex;
  margin-right: 1rem;
}

.presentation-card h2 {
  font-size: 18px;
  font-weight: bold;
}

.presentation-card p {
  font-size: 16px;
}

.presentation-card h3 {
  font-size: 16px
}

.booking-card {
  width: 25rem;
}

#new-booking {
  display: flex;
  flex-direction: column;

}

.booking-card .btn {
  padding: 10px;
  border-radius: 5px;
  background-color: #809E7B;
  color: white;
  border: none;
  width: 100%;
}

.pr-3 {
  text-align: left;
  padding-left: 15px;
  margin-top: 15px;
}

#back-link {
  padding-right: 10px;
  padding-top: 10px;

}
